<!DOCTYPE html>
<html lang="en">
<head>
      <title>The Wall</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header" style="margin-bottom:20px; border:1px solid darkgrey; background-color:lightgrey;">
    	<form action="/back">
        {% csrf_token %}
    		<h3 style="display:inline-block; margin-left:30px; width:200px; margin-top:10px;">CodingDojo Wall</h3>
    		<h4 style="display:inline-block; margin-left:49%;">Welcome  {{request.session.user}}</h4>
    		<button type="submit" class="off" style="display:inline-block; margin-left:8%; margin-bottom:10px;">Log Off</button>
    	</form>
	</div>



<div class="post_message" style="width:80%; display:block; vertical-align:top; margin-left:7%;margin-top:30px;">
    <h3 style="font-size:20px; margin-bottom:10px; margin-left:20px; margin-top:30px; ">Post a message</h3>
	  <div class="form-row" style="width:100%;">
        <div class="form-group" style="width:100%">
            <form action="/post_message" method="post" style="width:100%;">
            {% csrf_token %}
                <label for="text" style="width:35px;"></label>
                <input type="text" name="message" class="form-control" id="textinput1" style="margin-left:30px; width:100%; height:100px;display:inline-block;" >
                <input type="hidden" name="hola" value=""/>
                <button type="submit" class="btn btn-info" style="display:inline-block; margin-top:10px;margin-left:30px;">Post a Message</button>
            </form>
        </div>
    </div>
</div>
{% for message in messages %}
<div class="display_message" style="display:block; margin-top:20px; margin-left:12%; width:80%;">
    <label for="message">{{message.message_sender}} said at :{{" "}}{{message.created_at}}</label>
        <div class="form-row" style="width:100%;">
        <div class="form-group" style="width:100%;">
           <textarea name="text" rows="4" cols="45" style="width:90%;"wrap="hard">{{message.content}}</textarea>
            {% if request.session.id == message.message_sender_id %}
            <form action="{{message.id}}/delete_message" method="post" style="width:100%;">
                {% csrf_token %}
                <input type="hidden" name="message_hidden" value="{{message.id}}"/>
                <button type="submit" style="vertical-align:top; margin-left:87%;" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            {% endif %}
        </div>
        </div>
</div>

{% for comment in comments %}
{% if comment.message.id == message.id%}
<div class="display_comment" style="display:block; margin-top:20px; margin-left:17%; width:71%;">
    <label for="comment"> {{comment.comment_sender}}{{" "}}commented at :{{" "}}{{comment.created_at}}</label>
        <div class="form-row" style="width:100%;">
        <div class="form-group" style="width:100%;">
        <textarea name="text" rows="4" cols="45" style="width:85%;"wrap="hard">{{comment.content}}</textarea>
            {% if request.session.id == comment.comment_sender_id %}
            <form action="{{comment.id}}/delete_comment" method="post" style="width:100%;">
            {% csrf_token %}
                <input type="hidden" name="last" value="{{comment.id}}"/>
                <button type="submit" style="vertical-align:top;margin-left:82%;" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            {% endif %}
        </div>
        </div>
</div>
{% endif %}
{% endfor %}

<div class="post_comment" style="width:60%; display:block; vertical-align:top; margin-left:15%;margin-top:30px;">
    <h5 style="font-size:15px; margin-bottom:5px; margin-left:20px; margin-top:30px; ">Post a comment</h5>
	  <div class="form-row" style="width:100%;">
        <div class="form-group" style="width:100%">
            <form action="{{message.id}}/post_comment" method="post" style="width:100%;">
                {% csrf_token %}
                <label for="text" style="width:35px;"></label>
                <input type="text" name="comment" class="form-control" id="textinput1" style="margin-left:30px; width:100%; height:100px;display:inline-block;" >
                <input type="hidden" name="hidden_comment" value=""/>
                <button type="submit" class="btn btn-info" style="display:inline-block; margin-top:10px;margin-left:30px;">Post a Comment</button>
            </form>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>